body {
    margin: 0;
    background: linear-gradient(to bottom, #FFCCCB, #FFF5E1);
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

header {
    background: #FF00FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

#logo {
    width: 50px;
    margin-right: 10px;
}

nav {
    background-color: #FF00FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.contenido {
    color: #AF7AC5;
    font-size: 20px;
    background: linear-gradient(to bottom, #AF7AC5, white);
    transition: 2s ease;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.contenido img {
    width: 150px; /* Ancho deseado */
    height: 150px; /* Alto deseado */
}
