/* Estilos generales */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #FFCCCB, #FFF5E1);
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 20px;
    align-items: center; 
    text-align: center;  
}

/* Encabezado */
header {
    background: #FF00FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#logo {
    width: 50px;
    margin-right: 10px;
}

h1 {
    color: white;
    margin: 0;
    font-size: 2rem;
}

/* Barra de navegación */
nav {
    background-color: #FF00FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;  
}

nav ul li a:hover {
    background-color: white;  
    color: #FF00FF;  
}


/* Contenido principal */
.columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-text {
    width: 300px;
    margin: 20px;
    text-align: center;
    border: 1px solid #FF00FF;
    padding: 20px;
    border-radius: 10px;
    background: white;
}

/* Pie de página */
footer {
    background: #FF00FF;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    display: flex;
}

.social a {
    margin: 10px;
}
/* Estilos para el contenedor */
.container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
}

/* Carrusel responsive */
.slider-container {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    scroll-snap-type: x mandatory;
  }
  
  .slide {
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 100%;
    scroll-snap-align: start;
    text-align: center;
    display: none;
    width: 100vw;
  }
  
  .slide img {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* Números del carrusel */
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
  }
  
  #slide1 {
    display: block;
  }
  
  .menu li a {
    cursor: pointer;
  }
  
  .menu li a:hover {
    color: #FF00FF;
  }
  
  @media (max-width: 768px) {
    .slider-container {
      max-width: 320px;
    }
  
    .slide {
      width: 320px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .slider-container {
      max-width: 768px;
    }
  
    .slide {
      width: 768px;
    }
  }
