
body{
    margin: 0px;
    /* padding: 20px; */
    box-sizing: border-box;
    /* background-color: black; */
}

.header{
    
    background: linear-gradient(to bottom, black, white);
    
    display: grid;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    justify-content: center;
    grid-template-columns: 300px 370px 300px;
    grid-template-rows: 400px;
    gap: 75px;
    transition:  1.9s ease;
}


.columnas{
    display: flex;
    color: #AF7AC5;
    font-size: 35px;
    background: linear-gradient(to bottom, #AF7AC5, white);
    transition: 2s ease;
    justify-content: center;
    align-items: center;
}

.columnas>h2, h1{
    text-align: center;
    justify-content: center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 55px;
}

.header > .columnas:hover{
    color: black;
}

/* 
.header:hover{
    color:white;
} */

 
/* .columas:hover{
    color: blueviolet;
} */

.content {
    background-color: white;
    display:grid;
    height: 400px;
    grid-template-columns: repeat( 6 , 1fr) ;
    grid-template-rows: 100px ;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}    


.segundo-container{
    display: flex;
    padding: 0px;
    justify-content: center;
    border: solid black 20px;
}

.footer{
    display: flex;
    
    background-color: black;
    justify-content: space-around;
    align-items: center; 
    transition: 0.9s ease;
}


.footer {
    
    color: white;
    background-color: black;
    transition: 1s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: 0.9s ease;
}


.footer:hover{
    background-color: #AF7AC5;
    color: black ;

}

